# Creating Series

Series are pandas' own dictionary depiction of a object that holds data. it has it's own indexes agaisnt which it stores a value.

In [1]:
import pandas as pd
import numpy as np

s = pd.Series([100, 200, 300], name="Points", dtype=np.int64)

s

0    100
1    200
2    300
Name: Points, dtype: int64

In [2]:
s = pd.Series([100, 200, 300], index = ["a", "b", "c"])

s

a    100
b    200
c    300
dtype: int64

In [3]:
s = pd.Series({"name": "Abir", "age": 22, "city": "Delhi"})

s['city']

'Delhi'

# DataFrame

DataFrame is pandas own way of showing 2D tabular data with rows and columns. We can do exploratory analysis, data indexinf, wrangling, grouping and seggregation, reshape and merging, time series analysis, etc using this framework

In [4]:
df = pd.DataFrame([{"Name": "Abir", "Age": 23, "City": "New Delhi"},{"Name": "Maria", "Age": 19, "City": "Bengaluru"}])

df

    Name  Age       City
0   Abir   23  New Delhi
1  Maria   19  Bengaluru

In [5]:
df = pd.DataFrame([["Abir", 23, "New Delhi"], ["Maria", 19, "Pune"]], columns=["Name", "Age", "City"])

df

    Name  Age       City
0   Abir   23  New Delhi
1  Maria   19       Pune

In [6]:
df = pd.DataFrame({
    "Name":["Abir", "Maria"],
    "Age": [23, 19],
    "City": ["Kolkata", "Bengaluru"]
})

df

    Name  Age       City
0   Abir   23    Kolkata
1  Maria   19  Bengaluru